body {
  margin: 20px;
}

#container {
  display: flex;
}

#grid {
  flex-shrink: 1;
  flex-direction: column;
}

.row {
  display: flex;
}

.row-0,
.row-3,
.row-6 {
  border-top: 3px solid rgb(204, 204, 204);
}

.row-0,
.row-1,
.row-3,
.row-4,
.row-6,
.row-7 {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.row-8 {
  border-bottom: 3px solid rgb(204, 204, 204);
}

.col-0,
.col-3,
.col-6 {
  border-left: 3px solid rgb(204, 204, 204);
}

.col-0,
.col-1,
.col-3,
.col-4,
.col-6,
.col-7 {
  border-right: 1px solid rgb(204, 204, 204);
}

.col-8 {
  border-right: 3px solid rgb(204, 204, 204);
}

.cell {
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell span {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 31px;
}

.cell.selected {
  background-color: #009fdf;
  color: white;
}
