body {
  margin: 20px;
}

#container {
  display: flex;
}

#grid {
  flex-shrink: 1;
  flex-direction: column;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-0.invalid {
  animation: shake0 ease-in-out 0.1s;
}

.rotate-90.invalid {
  animation: shake90 ease-in-out 0.1s;
}

.rotate-180.invalid {
  animation: shake180 ease-in-out 0.1s;
}

.rotate-270.invalid {
  animation: shake270 ease-in-out 0.1s;
}

@keyframes shake0 {
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake90 {
  25% {
    transform: rotate(89deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(89deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes shake180 {
  25% {
    transform: rotate(179deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(179deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes shake270 {
  25% {
    transform: rotate(269deg);
  }
  50% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(269deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.row {
  display: flex;
}

.row-0,
.row-3,
.row-6 {
  border-top: 3px solid rgb(204, 204, 204);
}

.row-0,
.row-1,
.row-3,
.row-4,
.row-6,
.row-7 {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.row-8 {
  border-bottom: 3px solid rgb(204, 204, 204);
}

.col-0,
.col-3,
.col-6 {
  border-left: 3px solid rgb(204, 204, 204);
}

.col-0,
.col-1,
.col-3,
.col-4,
.col-6,
.col-7 {
  border-right: 1px solid rgb(204, 204, 204);
}

.col-8 {
  border-right: 3px solid rgb(204, 204, 204);
}

.invalid .cell,
.invalid .row {
  border-color: #bf360d;
}

.cell {
  width: 43px;
  height: 43px;
  display: flex;
  color: #009fdf;
  justify-content: center;
  align-items: center;
}

.cell.protected {
  color: black;
}

.cell span {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 31px;
}

.cell.selected {
  background-color: #009fdf;
  color: white;
}
